@model QL_ToChucSuKien_TTSKCĐVHTKNTBD_Master.Models.EventsModel

@{
    ViewData["Title"] = "Chỉnh sửa sự kiện";
    Layout = null;
}

<h2 class="mb-4">Chỉnh sửa sự kiện</h2>

<div class="modal-body">
    <form id="editEventForm" enctype="multipart/form-data">
        @Html.AntiForgeryToken()

        <input type="hidden" asp-for="EventID" />

        <div class="form-group">
            <label asp-for="EventName"></label>
            <input asp-for="EventName" class="form-control" />
            <span asp-validation-for="EventName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EventDescription"></label>
            <textarea asp-for="EventDescription" class="form-control"></textarea>
            <span asp-validation-for="EventDescription" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FrontImg"></label>
            <input asp-for="FrontImg" class="form-control-file" accept="image/*" id="FLFrontImage"
                   onchange="previewImage(this);">
            @if (!string.IsNullOrEmpty(Model.ImgUrl))
            {
                <img src="@Model.ImgUrl" alt="Event Image" style="width: 100px; height: 100px" />
            }
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="EventStartDate"></label>
                    <input asp-for="EventStartDate" class="form-control" type="datetime-local" />
                    <span asp-validation-for="EventStartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EventEndDate"></label>
                    <input asp-for="EventEndDate" class="form-control" type="datetime-local" />
                    <span asp-validation-for="EventEndDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" id="LocationGroup">
                    <label asp-for="EventLocation"></label>
                    <select asp-for="EventLocation" class="form-control" asp-items="@ViewBag.EventLocations">
                        <option value="">Chọn địa điểm</option>
                    </select>
                    <span asp-validation-for="EventLocation" class="text-danger"></span>
                </div>
                <div class="form-group" id="newLocationGroup" style="display: none;">
                    <label>Nhập mới địa điểm:</label>
                    <input type="text" id="newLocation" name="NewLocation" class="form-control" />
                    <span asp-validation-for="EventLocation" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group mt-4 text-right">
            <button type="button" id="btnSaveEvent" class="btn btn-primary">Lưu</button>
            <button type="button" class="btn btn-secondary ml-2" data-dismiss="modal">Đóng</button>
        </div>

    </form>
</div>
<script>
    // Hàm xem trước hình ảnh khi chọn file
    function previewImage(input) {
        var file = input.files[0];
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#imagePreview').attr('src', e.target.result).show();
        };

        if (file) {
            reader.readAsDataURL(file);
        }
    }
</script>