<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

        <a href="#" class="logo d-flex align-items-center me-auto">
            <img src="~/uploads/Logo.jpg" alt="">
            <h6 style="color:  #2f3138;">Trung tâm sáng kiến cộng đồng và hỗ trợ khởi nghiệp Bình Dương</h6>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="#hero" class="active">Trang chủ<br></a></li>
                <li class="dropdown">
                    <a href="#"><span>Sự kiện</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>
                        <li><a href="#">Tất cả sự kiện </a></li>
                        <li class="dropdown">
                            <a href="#"><span>Sự kiện sắp diễn ra</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                            <ul>
                                <li><a href="#">Sự kiện ngoài trời</a></li>
                                <li><a href="#">Sự kiện trong nhà</a></li>

                            </ul>
                        </li>
                        <li><a href="#">Sự kiện đã kết thúc</a></li>
                    </ul>
                </li>
                <li><a href="#contact">Về chúng tôi</a></li>  
                <partial name="_LoginPartial" />
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
      
    </div>
</header>
