<section id="speakers" class="speakers section">

    <div class="container section-title aos-init aos-animate" data-aos="fade-up">
        <h2>Đội ngũ <br></h2>

    <div class="container">
        <div class="row gy-4">
            <div class="col-xl-3 col-lg-3 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                <div class="member">
                    <img src="~/uploads/avatar_2.jpg" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4><a href="speaker-details.html">Nguyễn Anh Tú</a></h4>
                            <span>Quản lý</span>
                        </div>
                        <div class="social">
                            <a href="#"><i class="bi bi-facebook"></i></a>
                            <a href="#"><i class="bi bi-instagram"></i></a>
                            <a href="https://github.com/AnhTuTDMU"><i class="bi bi-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                <div class="member">
                    <img src="~/uploads/avatar_PM.jpg" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4><a href="speaker-details.html">Trần Quốc Mạnh Phát</a></h4>
                            <span>Trưởng phòng</span>
                        </div>
                        <div class="social">
                            <a href="https://www.facebook.com/manh.quay.75457081"><i class="bi bi-facebook"></i></a>
                            <a href="https://github.com/euro09"><i class="bi bi-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                    <img src="~/uploads/default-profile.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4><a href="speaker-details.html">Mai Xuân Tiền</a></h4>
                                <span>Trưởng phòng</span>
                        </div>
                        <div class="social">
                            <a href="https://www.facebook.com/tien.mx.7"><i class="bi bi-facebook"></i></a>
                            <a href="https://github.com/tienmx2001"><i class="bi bi-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>
